{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Студенты{% endblock meta_title %}

{% block title %}Учет Посещения{% endblock title %}

{% block content %}

          <h5 class="text-center"><a href="">&larr;</a> Октябрь 2014 <a href="">&rarr;</a></h5>

          <!-- Start Visits Listing -->
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Студент</th>
                <th>Ср 1</th>
                <th>Чт 2</th>
                <th>Пт 3</th>
                <th>Сб 4</th>
                <th>Вс 5</th>
                <th>Пн 6</th>
                <th>Вт 7</th>
                <th>Ср 8</th>
                <th>Чт 9</th>
                <th>Пт 10</th>
                <th>Сб 11</th>
                <th>Вс 12</th>
                <th>Пн 13</th>
                <th>Вт 14</th>
                <th>Ср 15</th>
                <th>Чт 16</th>
                <th>Пт 17</th>
                <th>Сб 18</th>
                <th>Вс 19</th>
                <th>Пн 20</th>
                <th>Вт 21</th>
                <th>Ср 22</th>
                <th>Чт 23</th>
                <th>Пт 24</th>
                <th>Сб 25</th>
                <th>Вс 26</th>
                <th>Пн 27</th>
                <th>Вт 28</th>
                <th>Ср 29</th>
                <th>Чт 30</th>
                <th>Пт 31</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><a title="Редактировать" href="#">Подоба Виталий</a></td>
                <td><input type="checkbox" checked name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
              </tr>
              <tr>
                <td>2</td>
                <td><a title="Редактировать" href="#">Корост Андрей</a></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
              </tr>
              <tr>
                <td>3</td>
                <td><a title="Редактировать" href="#">Притула Тарас</a></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
                <td><input type="checkbox" name="" value=""></td>
              </tr>
            </tbody>
          </table>

          <!-- End Visits Listing -->



          {% endblock content %}
